

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.container {
  max-width: 37em;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

hr{
  border-top: 2px solid #ebebeb;
  border-radius: 5px;
  margin: 24px 0;
}